<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Books</title>
</head>
<body>
<p th:text="${errorMessage}"></p>
<span th:if="${book != null}">
<table border="1">List Of Books
    <thead>
<tr>
    <td>Id</td>
    <td>Name</td>
    <td>Author</td>
    <td>Year of Publication</td>
    <td>Checkout</td>
</tr>
    <thead>
    <tbody>
    <tr th:each="b: ${book}">
        <td th:text="${b.id}"></td>
        <td th:text="${b.name}"></td>
        <td th:text="${b.author}"></td>
        <td th:text="${b.yearOfPublish}"></td>
        <td><a th:href="@{/books/checkout/{id}(id=${b.id})}">CheckOut</a></td>
    </tr>
    </tbody>
</table>


</span>
<div sec:authorize="hasAnyAuthority('LIBRARIAN')">
    <a sec:authorize="hasAnyAuthority('LIBRARIAN')" th:href="@{/books/create}">Add Book</a>
</div>
<a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
<a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
</body>
</html>