<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <style>
    table {
    border-collapse: collapse;
    width: 100%;
    }

    th, td {
    text-align: left;
    padding: 8px;
    }

    tr:nth-child(even){background-color: #f2f2f2}

    th {
    background-color: #1abc9c;
    color: white;
    }

    </style>
    <meta charset="UTF-8">
    <title>Books</title>

</head>
<body>
<p th:text="${successCheckoutMessage}" style="color:green"></p>
<p th:text="${errorMessage}" style="color:red"></p>
<span th:if="${book != null}">
    <table border="1"><h2>List Of Books</h2>
    <thead>
<tr>
    <th>Id</th>
    <th>Name</th>
    <th>Author</th>
    <th>Year of Publication</th>
    <th>Checkout</th>
</tr>
    <thead>
    <tbody>
    <tr th:each="b: ${book}">
        <td th:text="${b.id}"></td>
        <td th:text="${b.name}"></td>
        <td th:text="${b.author}"></td>
        <td th:text="${b.yearOfPublish}"></td>
        <td><a th:href="@{/books/checkout/{id}(id=${b.id})}">CheckOut</a></td>
    </tr>
    </tbody>
</table>


</span>
<div sec:authorize="hasAnyAuthority('LIBRARIAN')">
    <a sec:authorize="hasAnyAuthority('LIBRARIAN')" th:href="@{/books/create}">Add Book</a>
</div>
<a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
<a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
</body>
</html>